
.grid {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  overflow: auto;
  max-height: 400px;
  transition: height 0.66s ease-out;
  background-color: azure;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
